.wrapper {
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
